:root {
  --nav_angle: 25deg;
  --nav_angle-double: 50deg;
}
.nav__container {
  display: flex;
}
.nav__container-left {
  display: block;
}
.nav__container-right {
  display: block;
}
@keyframes rollDown-left-top {
  from {
    transform: scale(1.1) rotateZ(50deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotateZ(25deg);
    opacity: 1;
  }
}
.nav__left-top {
  position: relative;
  right: 105px;
  bottom: 100px;
  transform: rotate(25deg);

  font-size: 30px;
  font-weight: 200;
  opacity: 0;

  animation: rollDown-left-top 1s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes rollDown-left {
  from {
    transform: translateX(10px) translateY(-120px) scale(1.1) rotateZ(25deg);
    opacity: 0;
  }
  to {
    transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);
    opacity: 1;
  }
}

.nav__left {
  position: relative;
  right: 320px;

  font-size: 30px;
  font-weight: 200;
  opacity: 0;

  animation: rollDown-left 1s ease-in-out forwards;
  animation-delay: 2.5s;
}

@keyframes rollDown-left-bottom {
  from {
    transform: scale(1.1) rotateZ(0deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotateZ(-25deg);
    opacity: 1;
  }
}

.nav__left-bottom {
  position: relative;
  right: 125px;
  top: 100px;
  transform: rotate(-25deg);

  font-size: 30px;
  font-weight: 200;
  opacity: 0;

  animation: rollDown-left-bottom 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes rollDown-right-top {
  from {
    transform: translateX(-50px) translateY(-100px) scale(1.1) rotateZ(-50deg);
    opacity: 0;
  }
  to {
    transform: translateX(0px) translateY(0px) scale(1) rotateZ(-25deg);
    opacity: 1;
  }
}

.nav__right-top {
  position: relative;
  left: 230px;
  bottom: 170px;
  transform: rotate(-25deg);

  font-size: 30px;
  font-weight: 200;
  opacity: 0;

  animation: rollDown-right-top 1s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes rollDown-right {
  from {
    transform: translateX(-10px) translateY(-130px) scale(1.1) rotateZ(-25deg);
    opacity: 0;
  }
  to {
    transform: translateX(0px) translateY(0px) scale(1);
    opacity: 1;
  }
}

.nav__right {
  position: relative;
  left: 280px;

  font-size: 30px;
  font-weight: 200;
  opacity: 0;

  animation: rollDown-right 1s ease-in-out forwards;
  animation-delay: 2.5s;
}

@keyframes rollDown-right-bottom {
  from {
    transform: translateX(50px) translateY(-60px) scale(1.1) rotateZ(10deg);
    opacity: 0;
  }
  to {
    transform: translateX(0px) translateY(0px) scale(1) rotateZ(25deg);
    opacity: 1;
  }
}

.nav__right-bottom {
  position: relative;
  left: 230px;
  top: 150px;
  transform: rotate(25deg);

  font-size: 30px;
  font-weight: 200;
  opacity: 0;

  animation: rollDown-right-bottom 1s ease-in-out forwards;
  animation-delay: 2s;
}
